# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# ASP.NET Core
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/
*.iml

# Test results
TestResults/
coverage/